header{
 
    width: 1443px;
    height: 72px;
    margin: 71px auto;
    // margin: 71px 238px 0 239px;
    display: flex;

}
header .header-nav{
    display: flex;
    width: 696px;
    height: 41px;
    
    margin-right: 488px;

    justify-content: space-between;
    align-items: center;
    
}
header .header-nav .logo{
    width: 239px;
    height: 41px;
    margin-right: 100px;
    
    font-family: 'HorizonOutlined';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    
    align-items: center;

    color: #FFFFFF;
}

header .header-nav div{
    
    height: 38px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    
    color: #FFFFFF;
}

header .hover-button{
    
    button{
        width: 259px;
        height: 72px;
        font-size: 17px;
    }
    a{
        font-family: Poppins;
        
        text-decoration: none;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 140%;
        /* or 24px */
        align-items: center;
        text-align: center;
        color: #FFFFFF !important;
    }
    
}