.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 321px;
    margin-bottom: 103px;
}

.footer-logo {
    margin-left: 240px;
}

.footer-logo > p {
    font-family: Horizon;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    display: flex;
    align-items: center;    
    color: #040519;
    -webkit-text-stroke: 0.3px #FFFFFF;  
}

.footer-all-rights-reserved {
    margin-right: 239px;
}

.footer-all-rights-reserved > p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
}

@media only screen and (max-width: 1919px) {
    .footer-logo {
        margin-left: 0px;
    }

    .footer-all-rights-reserved {
        margin-right: 0px;
    }

}

@media only screen and (max-width: 899px) {
    .footer-logo {
        margin-left: 70px;
    }

    .footer-all-rights-reserved {
        margin-right: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .footer {
        margin-top: 295px;
    }

    .footer-logo {
        margin-left: 33px;
    }

    .footer-all-rights-reserved {
        display: none;
    }
}