.horizon{
    font-family: HorizonOutlined;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    line-height: 75px;
    
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.after{
    margin-top: 289px;
    .notify{
        display: flex;
        .earned{
            display: flex;
            color: #FFFFFF;
            
        }
    }
    .giveaway-list{
        margin-top: 125px;
        display: flex;
        flex-direction: column;

        color: #FFFFFF;
        .title{
            width: 381px;
            height: 24px;
    
            font-family: Horizon;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 140%;
            opacity: 0.5;
            /* identical to box height, or 24px */
            align-items: center;
    
        }
        .active{
            margin-bottom: 37px;
        }
        .previous{
            margin-bottom: 37px;
        }
    }
}

.horizon.giveaway{
    width: 894px;
    height: 183px;
    
    margin-left: 239px;

}
.horizon.amount{
    margin-top: 43px;
    width: 278px;
    height: 81px;
}

