.group-1 {
    width: 886px;
    text-align: center;
    margin: 0 auto;
    position: relative;    

    .title {         
        height: 183px; 
        z-index: 1;
        margin-top: -100px;
    }

    .description {
        width: 722px;
        height: 50px;
        margin: 0 auto;
        margin-top: -20px;
    }

    .btns {
        margin-top: 37px;
    }
}

// .group-1-image::before {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 204.29px;
//     left: 0px;
//     top: 0px;
//     background: linear-gradient(180deg, #040519 18.75%, rgba(4, 5, 25, 0) 100%);
// }

// .group-1-image::after {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 240px;
//     left: 0px;
//     bottom: 243.5px;
//     background: linear-gradient(180deg, #040519 27.6%, rgba(4, 5, 25, 0) 100%);
//     transform: rotate(-180deg);
// }

.title > p > span {
    color: #040519;
    -webkit-text-stroke:1px #FFFFFF;
}

.title-label {   
    font-family: Horizon;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 75px;  
    color: #FFFFFF;   
    margin-bottom: 0px;
}

.description-label {    
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;   
    color: #FFFFFF;   
    margin-bottom: 0px;
}

.description-tikkets {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}

.group-2 {    
    display: flex;
    justify-content: center;
    margin-top: 391px;  
}

.group-2-component {
    padding-top: 33px;
    width: 662px;

    .title {       
        height: 183px;
    }

    .description {
        margin-top: -20px;
    }

    .price-tikket-button {
        display: flex;
        margin-top: 39.3px;
    }

    .price-tikket-button .price .tikket-label {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 8px;
    }

    .price-tikket-button .price .tikket-price {
        font-family: Causten Round;
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 140%;
        display: flex;
        align-items: center;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }

    .price-tikket-button .tikket-button {
        width: 239px;
        height: 63px; 
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        margin-left: 71px;
    }
}

.group-2-image {
    margin-left: 108px;
}

.group-2-image .tikket-sold {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;    
}

.group-2-image .tikket-sold p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.group-2-image .tikket-sold p > span {
    color: rgba(255, 255, 255, 0.5);
}

.group-3 {    
    margin-top: 432px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group-3-component {
    width: 712px;
    text-align: center;

    .title {
        height: 183px;
    }
}

.group-3-wallets {  
    margin-top: 97px;
    width: 1321px;
    height: 572px;
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;

    .wallet-details {
        display: flex;
        margin-top: 40px;
        margin-left: 95px;
    }

    .ranking {
        width: 213px;
        height: 51px;
        font-family: Horizon;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 140%;
        color: #FFFFFF;
    }

    .address {
        width: 368px;
        height: 51px;       
        font-family: Horizon;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 140%;
        color: #FFFFFF;
    }

    .tikkets {       
        width: 368px;
        height: 51px;       
        font-family: Horizon;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 140%; 
        text-align: right;
        color: #FFFFFF;
    }
}