
.cop-ticket{
    padding-top: 413px;
    margin-left: 388px;
    margin-right: 368px;
    width: 1166px;
    margin: 0 auto;
    position: relative;
    display: flex;
}


.cop-ticket .ticket-board{
    width: 854px;
    height: 387px;
}
.cop-ticket .ticket-board .ends-in{
    width: 702px;
    height: 31px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 140%;
    /* identical to box height, or 31px */


    color: rgba(255, 255, 255, 0.5);
}
.cop-ticket .ticket-board .win-bored{
    margin-top: 16px;
    width: 854px;
    height: 150px;
    padding-right: 100px;

    font-family: 'Horizon';
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 75px;
    align-items: center;
    color: #FFFFFF;
    
    
}
.cop-ticket .ticket-board .content{
    margin-top: 16px;;
    width: 597px;
    height: 81px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 140%;
    color: #FFFFFF;
}
.cop-ticket .ticket-board .cop-ticket-group{
    width: 702px;
    height: 60px;
    display: flex;
    margin-top: 32px;
}
.cop-ticket .ticket-board .cop-ticket-group .cop-ticket-button-group{
    width: 317px;
    height: 60px;
    display: flex;
    align-items: flex-end;
    
}
.cop-ticket .ticket-board .cop-ticket-group .price{
    border-right: solid #9B9BA3;
    width: 256px;
    padding-left: 80px;
    .name{
        margin-top: -12px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        /* or 25px */

        letter-spacing: 0.01em;

        color: rgba(255, 255, 255, 0.6);
    }
    .value{
        padding-top:12px;
        font-family: Causten Round;
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 140%;
        /* identical to box height, or 38px */
        align-items: center;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        display: flex;
    }
    .value >div:first-child{
        margin-right: 10px;
        
    }
    .value >div:last-child{
        
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 27px;
        background: #111124;
        border-radius: 15px;

    }
    
}
.cop-ticket .ticket-board .cop-ticket-group .odds{
    padding-left: 40px;
    .name{
        margin-top: -12px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        /* or 25px */

        letter-spacing: 0.01em;

        color: rgba(255, 255, 255, 0.6);
    }
    .value{
        padding-top: 12px;
        font-family: Causten Round;
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 140%;
        /* identical to box height, or 38px */
        align-items: center;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }
}

.cop-ticket .ticket-image {
    margin-top: 38px;
    // display: inline;
    width: 311px;
    height: 311px;
    
}


.cop-ticket .ticket-image img{
    
    width: 100%;
    
}

.cop-ticket .ticket-image .sold{
    display: flex;
    justify-content: space-between;
    margin-top: 19px;    
    p{
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 140%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        .sold-num{
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.wallet-rank .wallet{
    margin: 0 auto;
    // margin-left: 325px;
    margin-top: 378px;
    width: 1289px;
    height: 1109px;

    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;

}
.wallet-rank .wallet .field{
    margin: 40px 105px 0 93px;
    display: flex;
    p{
        font-family: Horizon;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 140%;
        /* or 31px */
        color: #FFFFFF;
    }
    .rank{
        width: 207px;
    }
    .wallet-address{
        width: 373px;
    }
    .tikkets{
        
        width: 373px;
        text-align: right;
    }
    
}
.wallet-rank .wallet .tickets{

    margin: 50px 65px 0 66px;
    
}
.wallet-rank .page{
    margin-top: 47px;
    margin-right: 386px;
    display: flex;
    justify-content: flex-end;
    
}


//other page
.horizon{
    font-family: HorizonOutlined;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    line-height: 75px;
    
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.horizon.copped{
    transition: all 0.5s ease-out;
    margin-top: 575px;
    margin-left: 482px;
    width: 956px;
    height: 183px;
}

.horizon.chance{
    margin-top: 591px;
    margin-left: 482px;
    width: 956px;
    height: 150px;

}

.horizon.share{
    margin-top: 540px;
    margin-left: 482px;
    width: 956px;
    height: 150px;
    .share-button{
        margin-top: 39px;
    }

}

//page

.horizon.previous{
    margin-top: 354px;
    margin-left: 213px;
    width: 1494px;
    height: 272px;

}


@media only screen and (max-width: 1919px) {
    .main-board{
        // width: 100%;
    }
}

@media only screen and (max-width: 1399px) {

}

@media only screen and (max-width: 1199px) {
    
}

@media only screen and (max-width: 1067px) {
    
}

@media only screen and (max-width: 899px) {
    
}

@media only screen and (max-width: 767px) {
    
}

@media only screen and (max-width: 639px) {
    
}

@media only screen and (max-width: 479px) {
   
}
