.latest-drop .cop-ticket {
    position: relative;
    display: flex;
    width: 1165px;
    margin: 0 auto;
}

.latest-drop{
    // width: 100%;
    .cop-ticket{
 
        position: relative;
        display: flex;
        .ticket-board{
            .ends-in{
                // width: 702px;
                // height: 31px;
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 22px;
                line-height: 140%;
                /* identical to box height, or 31px */
                color: rgba(255, 255, 255, 0.5);
            }
            .win-bored{
                margin-top: 16px;
                // width: 854px;
                // height: 150px;
                // margin-right: 150px;
                // padding-right: 100px;
            
                font-family: 'Horizon';
                font-style: normal;
                font-weight: bold;
                font-size: 65px;
                line-height: 75px;
                align-items: center;
                color: #FFFFFF;
            }
            .content{
                margin-top: 16px;
                margin-right: 111px;
                // width: 597px;
                // height: 81px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 19px;
                line-height: 140%;
                color: #FFFFFF;
            }
            .cop-ticket-group{
                // width: 702px;
                // height: 60px;
                display: flex;
                margin-top: 32px;
                .cop-ticket-button-group{
                    display: flex;
                    align-items: center;
                    button{
                        width: 220px;
                        height: 60px;
                        font-size: 18px;
                    }
                }
                .price-odds{
                    display: flex;
                    .price{
                        border-right: solid #9B9BA3;
                        // width: 256px;
                        padding-left: 80px;
                        padding-right: 49px;
                        .name{
                            // margin-top: -12px;
                            font-family: Poppins;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 140%;
                            /* or 25px */
                    
                            letter-spacing: 0.01em;
                    
                            color: rgba(255, 255, 255, 0.6);
                        }
                        .value{
                            padding-top:8px;
                            font-family: Causten Round;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 27px;
                            line-height: 140%;
                            /* identical to box height, or 38px */
                            align-items: center;
                            letter-spacing: 0.01em;
                            color: #FFFFFF;
                            display: flex;
                        }
                        .value >div:first-child{
                            margin-right: 10px;
                            
                        }
                        .value >div:last-child{
                            
                            width: 32px;
                            height: 32px;
                            text-align: center;
                            line-height: 27px;
                            background: #111124;
                            border-radius: 15px;
                    
                        }

                    }
                    .odds{
                        padding-left: 50px;
                        .name{
                            // margin-top: -12px;
                            font-family: Poppins;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 140%;
                            /* or 25px */
                    
                            letter-spacing: 0.01em;
                    
                            color: rgba(255, 255, 255, 0.6);
                        }
                        .value{
                            padding-top: 8px;
                            font-family: Causten Round;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 27px;
                            line-height: 140%;
                            /* identical to box height, or 38px */
                            align-items: center;
                            letter-spacing: 0.01em;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
        .mobile-img{
            display: none;
        }
        .ticket-image{
            margin-top: 38px;
            // display: inline;
            margin-left: 157px;
            img{
                width: 100%;
                width: 311px;
            }
            .sold{
                display: flex;
                justify-content: space-between;
                margin-top: 19px;    
                p{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 140%;
                    
                    align-items: center;
                    color: #FFFFFF;
                    .sold-num{
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
    }
    
    .wallet-rank{
        width: 1289px;
        margin: 0 auto;
        .wallet{
            margin: 0 auto;
            // margin-left: 325px;
            display: relative;
            margin-top: 374px;
            width: 1289px;
            padding-bottom: 38px;
        
            background: rgba(255, 255, 255, 0.02);
            border: 1px solid rgba(255, 255, 255, 0.1);
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 14px;
            .field{
                margin-top:40px;
                margin-left: 67px;
                // margin: 40px 105px 0 93px;
                display: flex;
                position: relative;
                p{
                    font-family: Horizon;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 140%;
                    /* or 31px */
                    color: #FFFFFF;
                }
                .rank{
                    width: 240px;
                }
                
                .tikkets{
                    right: 104px;
                    width: 373px;
                    position: absolute;
                    text-align: right;
                }
            }
            .mobile-field{
                display: none;
            }
            .tickets{
                margin-top: 50px;
                // margin-left: 65px;
                padding: 0 65px;
            }
        }
        .page{
            margin-top: 47px;
            text-align: right;
            width: 100%;
            right: 70px;
            position: relative;
        }
    }
    //common
    .horizon{
        font-family: HorizonOutlined;
        font-style: normal;
        font-weight: normal;
        font-size: 65px;
        line-height: 75px;
        
        align-items: center;
        text-align: center;
    
        color: #FFFFFF;
    }
}
.tk_pagination {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    float: right;
}

//pagtes 
    .copped{
        margin: 575px auto !important;
        padding: 0 482px;    

        font-family: HorizonOutlined;
        font-style: normal;
        font-weight: normal;
        font-size: 65px;
        line-height: 75px;
        text-align: center;
        color: #FFFFFF;

    }
    .chance{

        margin: 591px auto !important;
        padding: 0 482px;
        
        font-family: HorizonOutlined;
        font-style: normal;
        font-weight: normal;
        font-size: 65px;
        line-height: 75px;
        text-align: center;
        color: #FFFFFF;
    
    }
    .share{
    
        margin: 540px auto !important;
        padding: 0 482px;
        .share-title{
            
            font-family: HorizonOutlined;
            font-style: normal;
            font-weight: normal;
            font-size: 65px;
            line-height: 75px;
            text-align: center;
            color: #FFFFFF;
        }
        
        .share-button{
            text-align: center;
            margin-top: 39px;
            button{
                width: 352px;
                height: 63px;
                font-size: 22px;
                
            }
        }
    
    }



//page

.previous{
    margin: 354px auto !important;

    .previous-title{
        
        font-family: HorizonOutlined;
        font-style: normal;
        font-weight: normal;
        font-size: 120px;
        line-height: 138px;
        text-align: center;
        color: #FFFFFF;
    }
    // margin-top: 354px;
    // margin-left: 213px;
    // width: 1494px;
    // height: 272px;
    .check_btn{
        text-align: center;
        margin-top: 50px;
        button{
            width: 420px;
            height: 72px;
            font-size: 22px;
            
        }
    }

}


@media only screen and (max-width: 1919px) {
    .latest-drop{
        .main-board{
            padding: 0 150px;
        }
        .cop-ticket{
            width: 100%;
        
            .ticket-board{
                width: 100%;
                
                .content{
                    height: auto;
                }
            }
            .ticket-image{
                
                margin-left: 100px;
                
                
            }
        }
        .wallet-rank{
            width: 100%;
            .wallet{
                width: 100%;
            }
            
        }
    }
    


    .previous{
        padding: 0 100px;
        margin: 354px auto !important;
    
        .previous-title{
            
            font-size: 100px;
            line-height: 120px;    
        }
        
        .check_btn{
            
            margin-top: 50px;
            button{
                width: 360px;
                height: 72px;
                font-size: 22px;
                
            }
        }
    
    }

    .share{
    
        margin: 540px auto !important;
        padding: 0 310px;
        .share-title{
            font-size: 65px;
            line-height: 75px;
        
        }
        
        .share-button{
            margin-top: 39px;
            button{
                width: 352px;
                height: 63px;
                font-size: 22px;
                
            }
        }
    
    }

    .copped{
        margin: 575px auto !important;
        padding: 0 261px;    
        font-size: 65px;
        line-height: 75px;
        
    }

}

@media only screen and (max-width: 1439px) {
    .latest-drop{
        .main-board{
            padding: 0 100px;
            .cop-ticket{
                // padding: 0 100px;
                .ticket-board{
                    .cop-ticket-group{
                        .cop-ticket-button-group{
                            .number-input{
                                width: 90px;
                            }
                            button{
                                width: 150px;
                                height: 60px;
                                font-size: 18px;
                            }
                        }
                        .price{
                            padding-left: 50px;
                            padding-right: 20px;
                        }
                        .odds{
                            padding-right: 30px;
                        }
                    }
                }
                .ticket-image{
                    margin-left: 60px;
                    // margin-top: 90px;
                }
            }
            .wallet-rank{
                // padding: 0 100px;
                width: 100%;
        
                .wallet{
                    
                    
                }
                .page{
                    
                }
                
            }
        }
    }
   


    .previous{
        padding: 0 80px;
        margin: 354px auto !important;
    
        .previous-title{
            
            font-size: 85px;
            line-height: 110px;    
        }
        
        .check_btn{
            
            margin-top: 40px;
            button{
                width: 330px;
                height: 72px;
                font-size: 20px;
                
            }
        }
    
    }

    .share{
    
        margin: 540px auto !important;
        padding: 0 210px;
        .share-title{
            font-size: 65px;
            line-height: 75px;
        
        }
        
        .share-button{
            margin-top: 39px;
            button{
                width: 352px;
                height: 63px;
                font-size: 22px;
                
            }
        }
    
    }

    .copped{
        margin: 575px auto !important;
        padding: 0 200px;    
        font-size: 65px;
        line-height: 75px;
        
    }
    

    
}

@media only screen and (max-width: 1199px) {

    .latest-drop{
        .main-board{
            padding: 0 60px;
            .cop-ticket{
                // padding: 0 100px;
                .ticket-board{
                    .win-bored{
                        font-size: 55px;
                        line-height: 65px;
                    }
                    .cop-ticket-group{
                        .cop-ticket-button-group{
                            .number-input{
                                width: 70px;
                            }
                            button{
                                width: 140px;
                                height: 60px;
                                font-size: 18px;
                            }
                        }
                        .price{
                            padding-left: 50px;
                            padding-right: 20px;
                        }
                        .odds{
                            padding-right: 30px;
                        }
                    }
                }
                .ticket-image{
                    margin-left: 20px;
                    // margin-top: 90px;
                }
            }
            .wallet-rank{
                // padding: 0 100px;
                width: 100%;
        
                .wallet{
                    .field{
                        margin-left: 67px;

                        .rank{
                            width: 247px;
                        }
                    }
                    
                }
            }
        }
    }



    .previous{
        padding: 0 60px;
        margin: 354px auto !important;
    
        .previous-title{
            
            font-size: 75px;
            line-height: 90px;    
        }
        
        .check_btn{
            
            margin-top: 30px;
            button{
                width: 270px;
                
                font-size: 22px;
                
            }
        }
    }

    .share{
    
        margin: 540px auto !important;
        padding: 0 150px;
        .share-title{
            font-size: 65px;
            line-height: 75px;
        
        }
        
        .share-button{
            margin-top: 39px;
            button{
                width: 352px;
                
                font-size: 22px;
                
            }
        }
    
    }
    .copped{
        margin: 575px auto !important;
        padding: 0 150px;    
        font-size: 65px;
        line-height: 75px;
        
    }

}

@media only screen and (max-width: 1067px) {
    .latest-drop{
        .main-board{
            padding: 0 50px;
            .cop-ticket{
                // padding: 0 50px;
                .ticket-board{
                    .win-bored{
                        font-size: 50px;
                        line-height: 60px;
                    }
                    .cop-ticket-group{
                        flex-direction: column;
        
                        .cop-ticket-button-group{
                            .number-input{
                                width: 97px;
                            }
                            button{
                                width: 220px;
                                
                            }
                        }
                        .price-odds{
                            margin-top: 30px;
                            .price{
                                padding-left: 30px;
                                padding-right: 20px;
                            }
                            .odds{
                                padding-right: 20px;
                            }
                        }
                        
                    }
                }
                .ticket-image{
                    margin-left: 10px;
                    margin-top: 170px;
                }
            }
            .wallet-rank{
        
                .wallet{
               
                    .field{ 
                        .rank{
                            width: 214px;
                        }

                        .tickets{ 
                            right: 88px;
                            padding: 0 50px;
                        }
                    }
                    
                }
            }
        }
    }
   
   

    .previous{
        padding: 0 60px;
        margin: 354px auto !important;
    
        .previous-title{
            
            font-size: 65px;
            line-height: 80px;    
        }
        
        .check_btn{
            
            margin-top: 30px;
            button{
                width: 270px;
                height: 60px;
                font-size: 20px;
                
            }
        }
    
    }

    
    .share{
    
        margin: 540px auto !important;
        padding: 0 85px;
        .share-title{
            font-size: 65px;
            line-height: 75px;
        
        }
        
        .share-button{
            margin-top: 25px;
            button{
                width: 352px;
                
                font-size: 22px;
                
            }
        }
    }

    .copped{
        margin: 575px auto !important;
        padding: 0 100px;    
        font-size: 65px;
        line-height: 75px;
        
    }
    
}

@media only screen and (max-width: 899px) {
    .latest-drop{
        .main-board{
            padding: 0 40px;
            .cop-ticket{
                // padding: 0 40px;
                .ticket-board{
                    .win-bored{
                        font-size: 50px;
                        line-height: 60px;
                        padding-right: 70px;
                    }
                    .content{
                        margin-right: 80px;
                    }
                    .cop-ticket-group{
                        flex-direction: column;
        
                        .cop-ticket-button-group{
                            .number-input{
                                width: 80px;
                            }
                            button{
                                width: 170px;
                                
                            }
                        }
                        .price-odds{
                            margin-top: 30px;
                            .price{
                                padding-left: 10px;
                                padding-right: 10px;
                            }
                            .odds{
                                padding-right: 25px;
                            }
                        }
                        
                    }
                }
                .ticket-image{
                    margin-left: 10px;
                    margin-top: 295px;
                }
            }
            .wallet-rank{
        
                .wallet{
                    .field {
                        p{
                            font-size: 15px;
                        }
                    }

                    .tickets{
                        right: 91px;
                        margin-top: 0 !important;
                        padding: 0 50px;
                    }
                }
            }

        }
    }

    .copped{
        margin: 575px auto !important;
        padding: 0 50px;    
        font-size: 60px;
        line-height: 75px;
        
    }
    .latest-drop .wallet-rank .wallet .field .tikkets{
        right: 91px;
    }
}

@media only screen and (max-width: 767px) {
    .latest-drop .wallet-rank .wallet{
        margin-top: 50px;
    }
    .latest-drop{
        .main-board{
            padding: 0 20px ;
            .cop-ticket{
                // padding: 0 20px ;
        
                .ticket-board{
                    .win-bored{
                        font-size: 50px;
                        line-height: 60px;
                        padding-right: 70px;
                    }
                    .mobile-img{
                        display: block;
                        img{
                            width: 100%;
                        }
                        .sold{
                            display: flex;
                            justify-content: space-between;
                            margin-top: 19px;    
                            p{
                                font-family: Poppins;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 17px;
                                line-height: 140%;
                                align-items: center;
                                color: #FFFFFF;
                                .sold-num{
                                    color: rgba(255, 255, 255, 0.5);
                                }
                            }
                        }
                        
                    }
                    .content{
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                    .cop-ticket-group{
                        flex-direction: column;
        
                        .cop-ticket-button-group{
                            .number-input{
                                width: 35%;
                            }
                            button{
                                width: 100%;
                                
                            }
                        }
                        .price-odds{
                            margin-top: 30px;
                            flex-direction: column;
                            .price{
                                border-right: none;
                                display: flex;
                                justify-content: space-between;
                                .name{
                                    padding-top: 10px;
                                }
                                .value{
                                    padding: 0;
                                }
                            }
                            .odds{
                                padding-left: 10px;
                                display: flex;
                                justify-content: space-between;
                                .name{
                                    padding-top: 10px;
                                }
                                .value{
                                    padding: 0;
                                }
                            }
                        }
                        
                    }
                }
                .ticket-image{
                    display: none;
                }
            }
            .wallet-rank{
        
                .wallet{
                    .field{
                        display: none;
                    }
                    .mobile-field{
                        display: flex;
                        margin-top: 40px;
                        margin-left: 37px;
                        position: relative;
                
                        .rank{
                            width: 192px;
                            height: 51px;
                            font-family: Horizon;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 140%;
                            color: #FFFFFF;
                            margin-bottom: 0px;
                        }
                    
                        .wallet-address{
                            width: 170px;
                            height: 51px;       
                            font-family: Horizon;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 140%;
                            color: #FFFFFF;
                            margin-bottom: 0px;
                        }
                    
                        .tikkets {       
                            width: 170px;
                            height: 51px;       
                            font-family: Horizon;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 140%; 
                            text-align: right;
                            color: #FFFFFF;
                            margin-bottom: 0px;        
                            position: absolute;
                            right: 56px;
                        }
                    }
        
                    .tickets{
                        margin-left: 20px;
                        padding: 0 15px;
                        margin-top: 0;
                    }
                }
            }
        }
    }
    
    .previous{
        padding: 0 20px;
        margin: 354px auto !important;
    
        .previous-title{
            
            font-size: 70px;
            line-height: 80px;    
        }
        
        .check_btn{
            
            margin-top: 30px;
            button{
                // width: 270px;
                width: 100%;
                height: 60px;
                font-size: 20px;
                
            }
        }
    
    }

    .share{
    
        margin: 540px auto !important;
        padding: 0 20px;
        .share-title{
            font-size: 53px;
            line-height: 55px;
        
        }
        
        .share-button{
            margin-top: 25px;
            button{
                width: 100%;
                height: 40px;
                font-size: 18px;
                
            }
        }
    }

    .copped{
        margin: 575px auto !important;
        padding: 0 40px;    
        font-size: 50px;
        line-height: 75px;
        
    }

}

@media only screen and (max-width: 639px) {
    .latest-drop{
        .main-board{
            padding: 0 20px ;
            .cop-ticket{
                // padding: 0 20px ;
        
                .ticket-board{
                    .win-bored{
                        font-size: 40px;
                        line-height: 45px;
                        padding-right: 70px;
                    }
                }
            }
            .wallet-rank{
        
                .wallet{
                    .mobile-field{
                        margin-left: 38px;
                        .rank {       
                            width: 130px;
                        }
                    
                        .wallet-address {   
                            width: 100px;
                        }
                    
                        .tikkets {
                            width: 100px;      
                            position: absolute;
                            right: 30px;
                        }
                    }
                    
        
                    
                    .tickets{
                        // margin-left: 65px;
                        padding: 0 15px;
                    }
                }
            }
            
        }
    }

    .share{
    
        margin: 540px auto !important;
        padding: 0 20px;
        .share-title{
            font-size: 53px;
            line-height: 55px;
        
        }
        
        .share-button{
            margin-top: 25px;
            button{
                width: 100%;
                height: 40px;
                font-size: 18px;
                
            }
        }
    }

}

@media only screen and (max-width: 479px) {
    .latest-drop{
        .main-board{
            .wallet-rank{
                .wallet{
                    .mobile-field{
                        .rank {       
                            width: 69px;
                        }
                    
                        .wallet-address {   
                            width: 85px;
                        }
                    
                        .tikkets {
                            width: 100px;      
                            position: absolute;
                            right: 25px;
                        }
                    }
                }
                
            }
        }
    }


    .previous{
        padding: 0 20px;
        margin: 354px auto !important;
    
        .previous-title{
            
            font-size: 50px;
            line-height: 58px;    
        }
        
        .check_btn{
            
            margin-top: 30px;
            button{
                // width: 270px;
                width: 100%;
                height: 60px;
                font-size: 22px;
                
            }
        }
    
    }

    .share{
    
        margin: 540px auto !important;
        padding: 0 20px;
        .share-title{
            font-size: 39px;
            line-height: 55px;
        
        }
        
        .share-button{
            margin-top: 25px;
            button{
                width: 100%;
                height: 40px;
                font-size: 22px;
                
            }
        }
    }

    .copped{
        margin: 575px auto !important;
        padding: 0 20px;    
        font-size: 39px;
        line-height: 75px;
        
    }

}
