.ticket_item{
    height: 72px;
    border-radius: 1px;
    background: #18192B;
    display: block;
    padding: 0 40px 0 27px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    margin-bottom: 20px;
}

.ticket_item.dark{
    background-color: #0F1021;

    &:hover{
        background-color: #2e3170de;
    }
}

.ticket_item {
    &:hover{
        background: #38496ede;
    }

    span{
        
        color: white;
        line-height: 72px;
        font-family: 'Poppins';
        font-size: 22px;
        font-weight: 200;

        &.tick_number1{
            padding: 0 3.66px;
        }

        &.tick_address{
            margin-left: 147px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            max-width: calc(100% - 270px);
        }

        &.tick_count{
            float: right;
        }
    }

    i{
        color: #53A76F;
        line-height: 72px;
        margin-left: 47px;
    }

    i.fa-arrow-down{
        color: #D35F4C;
    }
}

.pull-left{
    float: left;
}

@media screen and (max-width: 767px){
    .ticket_item i{
        margin-left: 27px;
    }

    .ticket_item span.tick_address {
        margin-left: 75px;
    }

    .ticket_item span.tick_address {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: calc(100% - 230px);
    }
}

@media screen and (max-width: 639px){
    
    .ticket_item span.tick_address {
        margin-left: 18px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: calc(100% - 130px);
    }
}

@media screen and (max-width: 479px){
    .ticket_item{
        padding: 0 15px;
        
        i{
            margin-left: 16px;
            font-size: 14px;
            position: relative;
            top: -2px;
        }

        span.tick_address {
            margin-left: 18px !important;
            max-width: calc(100% - 130px);
        }
    }
}