.nft {
    text-align: center; 

    .name {
        font-family: Horizon;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 36px;
        margin-bottom: 36px;
    }

    img{
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            box-shadow: 0 0 10px grey;
        }
    }
}

.nft:not(:last-child) {
    margin-right: 93px;
}

.social-links {    
    display: flex;
    justify-content: center;

    .twitter {
        margin-right: 20px;
    }

    > p {
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 55px;
        background: #111124;
        border-radius: 25px;
        margin-bottom: 0px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover{    
            box-shadow: 0px 0px 10px grey;
        }
    }

    .fab {
        font-size: 20px;
        color: #FFFFFF;
    }
}

@media only screen and (max-width: 1919px) {
    .nft {
        img {
            width: 100%;
            height: auto;
        }
    }

    .nft:not(:last-child) {
        margin-right: 25px;
    }
}